name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  build:
    name: ${{ matrix.os }} / ${{ matrix.build_type }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        build_type: [Release]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install CMake
        uses: actions/setup-cmake@v3
        with:
          cmake-version: '3.28.3'

      - name: Set default JUCE extra libs
        run: echo "JUCE_EXTRA_LIBS=" >> $GITHUB_ENV
        shell: bash

      - name: Install system dependencies (Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            ninja-build \
            pkg-config \
            libcurl4-openssl-dev \
            libasound2-dev \
            libgtk-3-dev \
            libwebkit2gtk-4.1-dev \
            libglew-dev \
            libjack-dev \
            libicu-dev \
            libfreetype6-dev \
            libfontconfig1-dev \
            libx11-dev \
            libxext-dev \
            libxcursor-dev \
            libxinerama-dev \
            libxi-dev \
            libxrandr-dev \
            libxtst-dev
          echo "JUCE_EXTRA_LIBS=-DMIDIKRAFT_JUCE_EXTRA_LINK_LIBRARIES=pthread;dl;X11;Xext;Xrandr;Xi;Xcursor;Xinerama;Xtst;GL;freetype;fontconfig;asound" >> $GITHUB_ENV
        shell: bash

      - name: Configure CMake
        run: >
          cmake -S . -B build
          -DMIDIKRAFT_BUILD_TESTS=ON
          -DMIDIKRAFT_FETCH_JUCE=ON
          -DMIDIKRAFT_FETCH_JUCE_UTILS=ON
          -DMIDIKRAFT_WARNINGS_AS_ERRORS=ON
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          ${JUCE_EXTRA_LIBS}
        shell: bash

      - name: Build
        run: cmake --build build --config ${{ matrix.build_type }}

      - name: Test
        run: ctest --test-dir build --build-config ${{ matrix.build_type }} --output-on-failure
